.header {
text-align: center;
font-size: 30px;
padding: 30px 346px 15px 346px;
}

p {
font-size: 25px;
line-height: 40px;
}

div {
  justify-content: center;
  padding-top: 50px;
  font-size: 25px;
}


.is-active {
  display: flex;
}

.is-inactive {
  display: none;
}

